#name {
  font-family: robotoregular;
  position: absolute;
  top: 30px;
  left: 30px;
}

#idcard {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 450px;
}

#itemlist {
  list-style: none;
  position: absolute;
  bottom: 30px;
  left: 30%;
  text-align: right;
  font-size: 25px;
}