<!doctype html>

  <html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <title>Go Securi</title>

    <link rel="stylesheet" href="./user.css">
    <link rel="stylesheet" href="../../assets/fonts/roboto/stylesheet.css">


  </head>

  <body>
    <h1 id="name">
      {{ user.name }}
    </h1>

    {{ id-card-img }}

    <ul id="itemlist">
      {{ item.list }}
    </ul>
  </body>



</html>