body {
  background: rgb(112, 112, 112);
}

.form-container {
  background: #FFFFFF;
  border-radius: 5px;
  width: 500px;
  padding: 20px;
  margin: auto;
  margin-top: 250px;
}


.logo {
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

.credentials {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  outline: none;
  background-color: #c0c0c0;
  opacity: 0.3; 
  border-radius: 4px;
  box-sizing: border-box;
  transition: opacity 0.2s;
}

input:focus {
  opacity: 0.5;
}

input[type=submit] {
  width: 100%;
  background-color: #379EC1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 25px;
  transition: background-color 0.2s;
}

input[type=submit]:hover {
  background-color: #377ec1;
}

#email {
  margin-bottom: 15px;
}

#credentials-invalid {
  width: 97.5%;
  background-color: rgba(255, 0, 0, 0.235);
  border: none;
  border-radius: 4px;
  padding: 0;
  text-align: center;
  color: white;
  height: 0;
  margin-top: 20px;

  transition: height 300ms;
}