<!doctype html>

  <html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <title>Go Securi</title>

    <link rel="stylesheet" href="./userlist.css">
    <link rel="stylesheet" href="../../assets/fonts/roboto/stylesheet.css">


  </head>

  <body>
    <ul id="user-list">
      {{ user.link }}
    </ul>
  </body>



</html>